<p id="notice"><%= notice %></p>

<p>
  <strong>Package:</strong>
  <%= @price_entry.package_id %>
</p>

<p>
  <strong>Distributor:</strong>
  <%= @price_entry.distributor_id %>
</p>

<p>
  <strong>Price:</strong>
  <%= @price_entry.price %>
</p>

<p>
  <strong>Date expirate:</strong>
  <%= @price_entry.expiration_date %>
</p>











<%= link_to 'Edit', edit_price_entry_path(@price_entry) %> |
<%= link_to 'Back', price_entries_path %>
