<!DOCTYPE html>
<html>
  <head>
    <title>Komodt</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<%= render 'layouts/navigation' %>

	  <div class="jumbotron">		


      <div class="container">
        <div class="row">
          <div class="col-sm">


          </div>
          <div class="col-sm">
            <%= yield %>
          </div>
          <div class="col-sm">


          </div>
        </div>
      </div>

	  </div>


    <%= render 'layouts/footer' %>



  </body>
</html>
