<!DOCTYPE html>
<html>
  <head>
    <title>Komodt</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">


    
  </head>

  <body>

  	<%= render 'layouts/navigation' %>

       <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>


	  <div class="jumbotron">		


      <div class="container">
        <div class="row">
          <div class="col-sm">


          </div>
          <div class="col-sm">
            <%= yield %>
          </div>
          <div class="col-sm">


          </div>
        </div>
      </div>

	  </div>


    <%= render 'layouts/footer' %>



  </body>
</html>
